function skyAttack.random 0
push static 0
push constant 139
add
pop static 0
push static 0
push constant 300
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 0
push constant 300
sub
pop static 0
label IF_FALSE0
push static 0
return
function skyAttack.drawpixel 0
push argument 0
pop pointer 0
push argument 1
push constant 511
gt
push argument 1
push constant 0
lt
add
push argument 2
push constant 255
gt
add
push argument 2
push constant 0
lt
add
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push argument 2
call Screen.drawPixel 2
pop temp 0
label IF_FALSE0
push constant 0
return
function skyAttack.initnew 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 30
pop static 0
push constant 0
pop this 2
push constant 0
pop this 3
push pointer 0
return
function skyAttack.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
call skyAttack.random 0
push constant 50
add
pop this 0
push constant 30
pop this 1
push pointer 0
push constant 1
call skyAttack.drawShape 2
pop temp 0
push static 3
call skyAttack.rnext 1
pop this 3
push static 3
push pointer 0
call skyAttack.wnext 2
pop temp 0
push this 3
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 3
push pointer 0
call skyAttack.wlast 2
pop temp 0
label IF_FALSE0
push static 3
pop this 2
push pointer 0
return
function skyAttack.ini 0
call skyAttack.initnew 0
pop static 3
push constant 0
pop static 2
push constant 0
pop static 1
push constant 0
return
function skyAttack.drawShape 0
push argument 0
pop pointer 0
push argument 1
call Screen.setColor 1
pop temp 0
push pointer 0
push this 0
push constant 0
add
push constant 14
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 0
add
push constant 15
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 1
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 1
add
push constant 11
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 1
add
push constant 12
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 1
add
push constant 13
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 1
add
push constant 14
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 1
add
push constant 15
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 1
add
push constant 16
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 1
add
push constant 17
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 1
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 1
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 2
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 2
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 2
add
push constant 11
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 2
add
push constant 12
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 2
add
push constant 13
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 2
add
push constant 14
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 2
add
push constant 15
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 2
add
push constant 16
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 2
add
push constant 17
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 2
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 2
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 2
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 2
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 3
add
push constant 8
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 3
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 3
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 3
add
push constant 11
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 3
add
push constant 12
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 3
add
push constant 13
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 3
add
push constant 14
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 3
add
push constant 15
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 3
add
push constant 16
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 3
add
push constant 17
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 3
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 3
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 3
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 3
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 3
add
push constant 22
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 3
add
push constant 23
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 4
add
push constant 7
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 4
add
push constant 8
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 4
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 4
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 4
add
push constant 11
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 4
add
push constant 12
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 4
add
push constant 13
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 4
add
push constant 14
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 4
add
push constant 15
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 4
add
push constant 16
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 4
add
push constant 17
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 4
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 4
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 4
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 4
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 4
add
push constant 22
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 4
add
push constant 23
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 4
add
push constant 24
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 7
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 8
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 11
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 12
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 13
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 14
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 15
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 16
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 17
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 22
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 23
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 24
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 5
add
push constant 25
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 7
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 8
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 11
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 12
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 13
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 14
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 15
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 16
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 17
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 22
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 23
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 24
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 6
add
push constant 25
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 7
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 8
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 11
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 12
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 13
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 14
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 15
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 16
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 17
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 22
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 23
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 24
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 7
add
push constant 25
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 7
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 8
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 11
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 12
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 13
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 14
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 15
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 16
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 17
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 22
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 23
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 24
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 8
add
push constant 25
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 9
add
push constant 8
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 9
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 9
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 9
add
push constant 11
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 9
add
push constant 12
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 9
add
push constant 13
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 9
add
push constant 14
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 9
add
push constant 15
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 9
add
push constant 16
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 9
add
push constant 17
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 9
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 9
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 9
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 9
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 9
add
push constant 22
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 9
add
push constant 23
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 9
add
push constant 24
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 9
add
push constant 25
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 10
add
push constant 8
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 10
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 10
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 10
add
push constant 11
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 10
add
push constant 12
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 10
add
push constant 13
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 10
add
push constant 14
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 10
add
push constant 15
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 10
add
push constant 16
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 10
add
push constant 17
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 10
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 10
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 10
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 10
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 10
add
push constant 22
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 10
add
push constant 23
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 10
add
push constant 24
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 10
add
push constant 25
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 4
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 5
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 6
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 8
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 11
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 12
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 13
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 14
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 15
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 16
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 17
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 22
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 23
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 11
add
push constant 24
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 3
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 4
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 5
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 8
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 11
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 12
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 13
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 14
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 15
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 16
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 17
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 22
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 23
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 24
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 12
add
push constant 25
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 2
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 3
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 4
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 5
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 7
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 8
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 11
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 12
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 13
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 14
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 15
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 16
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 17
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 22
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 23
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 24
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 13
add
push constant 25
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 1
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 2
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 3
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 4
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 7
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 8
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 11
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 12
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 13
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 14
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 15
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 16
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 17
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 22
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 23
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 24
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 14
add
push constant 25
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 1
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 2
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 3
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 7
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 8
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 11
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 12
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 13
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 14
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 15
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 16
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 17
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 22
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 23
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 24
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 15
add
push constant 25
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 7
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 8
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 11
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 12
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 13
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 14
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 15
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 16
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 17
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 22
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 23
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 24
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 16
add
push constant 25
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 7
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 8
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 11
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 12
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 13
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 14
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 15
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 16
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 17
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 22
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 23
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 24
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 17
add
push constant 25
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 18
add
push constant 7
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 18
add
push constant 8
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 18
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 18
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 18
add
push constant 11
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 18
add
push constant 12
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 18
add
push constant 16
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 18
add
push constant 17
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 18
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 18
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 18
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 18
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 18
add
push constant 22
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 18
add
push constant 23
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 18
add
push constant 24
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 19
add
push constant 8
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 19
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 19
add
push constant 10
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 19
add
push constant 18
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 19
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 19
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 19
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 19
add
push constant 22
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 19
add
push constant 23
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 20
add
push constant 9
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 20
add
push constant 19
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 20
add
push constant 20
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push pointer 0
push this 0
push constant 20
add
push constant 21
push this 1
add
call skyAttack.drawpixel 3
pop temp 0
push constant 0
return
function skyAttack.moveDown 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
call skyAttack.drawShape 2
pop temp 0
push this 1
push constant 8
add
pop this 1
push this 1
push constant 180
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 180
pop this 1
label IF_FALSE0
push pointer 0
push constant 1
call skyAttack.drawShape 2
pop temp 0
push constant 0
return
function skyAttack.rnext 0
push argument 0
pop pointer 0
push this 3
return
function skyAttack.rlast 0
push argument 0
pop pointer 0
push this 2
return
function skyAttack.wnext 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function skyAttack.wlast 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function skyAttack.allUpdate 2
push static 3
call skyAttack.rnext 1
pop local 1
push static 2
push constant 1
add
pop static 2
push static 2
push constant 15
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call skyAttack.new 0
pop temp 0
push constant 0
pop static 2
label IF_FALSE0
label WHILE_EXP0
push local 1
push constant 0
eq
not
not
if-goto WHILE_END0
push local 1
call skyAttack.gety 1
push constant 180
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 1
push constant 1
add
pop static 1
push local 1
call skyAttack.getx 1
pop local 0
push local 1
call skyAttack.deleteObject 1
pop local 1
push static 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push constant 180
call bulletsonfloor.new 2
pop temp 0
push constant 0
pop static 1
label IF_FALSE2
goto IF_END1
label IF_FALSE1
push local 1
call skyAttack.getx 1
push argument 0
call character.getx 1
sub
push constant 24
lt
push argument 0
call character.getx 1
push local 1
call skyAttack.getx 1
sub
push constant 21
lt
call Math.multiply 2
push local 1
call skyAttack.gety 1
push constant 8
add
push argument 0
call character.gety 1
sub
push constant 42
lt
call Math.multiply 2
push argument 0
call character.gety 1
push local 1
call skyAttack.gety 1
push constant 8
add
sub
push constant 26
lt
call Math.multiply 2
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
call skyAttack.deleteObject 1
pop local 1
call HP.losshealth 0
pop temp 0
goto IF_END3
label IF_FALSE3
push local 1
call skyAttack.moveDown 1
pop temp 0
push local 1
call skyAttack.rnext 1
pop local 1
label IF_END3
label IF_END1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function skyAttack.dispose 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
call skyAttack.drawShape 2
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function skyAttack.deleteObject 1
push argument 0
pop pointer 0
push this 3
pop local 0
push this 2
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push this 3
call skyAttack.wnext 2
pop temp 0
label IF_FALSE0
push this 3
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 3
push this 2
call skyAttack.wlast 2
pop temp 0
label IF_FALSE1
push pointer 0
call skyAttack.dispose 1
pop temp 0
push local 0
return
function skyAttack.getx 0
push argument 0
pop pointer 0
push this 0
return
function skyAttack.gety 0
push argument 0
pop pointer 0
push this 1
return
function skyAttack.deleteall 1
push static 3
call skyAttack.rnext 1
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
push local 0
call skyAttack.deleteObject 1
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
